

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}

    <link rel="stylesheet" href="/css/critical.css">

  </head>
  <body>
    <div class="site-wrap">
      {% include "partials/site-head.html" %}
  
      <main tabindex="-1" id="main-content">
        {% block content %}{% endblock %}
      </main>

      <footer role="content-info" class="site-foot">
        <div class="wrapper">
          <p>This is a made up agency for the course, <a href="https://piccalil.li/course/learn-eleventy-from-scratch/">“Learn Eleventy From Scratch”</a>.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
