.pagination {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  //pushes a sole next link out the right
  &__inner > [data-direction='forwards'] {
    margin-inline-start: auto;
  }
}